
a{
  text-decoration: none;
  text-decoration-color: #2E2F30;
  &:hover{opacity: 0.5;}
}

.user_icon{
  display: inline-block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px 10px 5px 10px;
}